* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

.cover {
    color: black;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-bill {
    min-height: 80vh;
    background-color: white;
    width: 50em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156,156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.data-row {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}