body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #f0f0f0;*/
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    /*height: 25px;*/
    /*background-color: grey;*/
}

footer {
    background-color: #333;
    color: #fff;
    /*padding: 5px 0;*/
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-links {
    flex: 2;
}

.footer-links ul li {
   padding: 0 200px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 2px 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-info {
    text-align: center;
    flex: 1;
    /*margin-top: 10px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo,
    .footer-links {
        flex-basis: 100%;
        text-align: center;
    }
}
