.home {
    text-align: center;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section {
    margin-bottom: 20px;
}

.features-section ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.home {
    height: 82vh;
    /*margin: 10px 0 0 0 ;*/
    padding: 0;
    background-image: url('../images/home1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .logo {
    top: 10vh;
    background-image: url('../images/footer-logo.png');
} */

.background-image {
    position: absolute;
    /*top: 40px;*/
    /*left: 0;*/
    width: 100%;
    z-index: -1;
}

.section-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }

@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}
