nav {
    background-color: darkred;
    color: white;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        margin: 10px 0;
    }
}

